<div class="container">
  <div class="panel panel-default">
     <div class="panel-heading">
         <span> <h2>いいねランキング一覧</h2> </span>
      </div> 
         <div class="panel-body">
          <% if @articles.present? %>
            <div class="row">
              <% @articles.each_with_index do |article, index| %>
                <%#<div class="item">%>
                  <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading text-center">
                        <%= image_tag(article.eyecatch,:size => "120x120",:class => "border-radius") %>
                      </div>
                      <div class="panel-body">
                         <p class="article-title"><%= link_to article.title, article %></p>
                          <ul class="sns-share-buttons">
                            <li><p class="text-left"><%= index+1 %>位: <%= @ranking_counts[article.id] %> 人</p></li><br>
                              <% if logged_in? %>
                                <li>  <%= render 'ownerships/want_button', article: article %></li>
                                <li>  <%= render 'ownerships/like_button', article: article %></li>
                              <% end %>
                          </ul>
                        <%#</div>%>
                      </div>
                      <%#<div class="panel-footer">%>
                       
                      <%#</div>%>
                    </div>
                  </div>
                <%#</div>%>
              <% end %>
          </div>
        <% end %>
          <%= paginate @ranking_articles %>
        </div> 
    </div>    
  </div>