<div class="container">  
  <div class= "row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="page-header">新規記事作成</h1>
          <p>参考文献は必須です.</p>
          
            <%#= simple_form_for(@article, html:{class: 'form-horizontal'}) do |f| %>
            <%= form_for(@article) do |f| %>
            
              <% if @article.errors.any? %>
                <div id="error_explanation">
                  <ul>
                      <% @article.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                  </ul>
                </div>  
              <% end %>
        
    
              <div class="form-group">
                  <%= f.label :title, 'タイトル', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%= f.text_field :title %>
              </div>
        
              <div class="form-group">
                  <%= f.label :keyword, 'キーワード', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%= f.text_field :keyword %>
              </div><br>
    
             <div class="form-group">
                  <%= f.label :category_id, 'カテゴリー', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%= f.collection_select :category_id, Category.all, :id, :category_name, :prompt => true %>
              </div>
            
              <div class="form-group">
                    <%= f.label :eyecatch, '画像', class: "col-md-1 col-sm-1 col-xs-12" %>
                    <%= f.file_field :eyecatch %>
                    <%= f.hidden_field :eyecatch_cache %>
              </div>
            
              <%#  <div class="form-group">
                    <%= f.label :slideshare_embed, 'シェアスライドembedコード', class: "col-md-4 col-sm-1 col-xs-12" %>
              <%#      <%= f.text_area :slideshare_embed, class: 'form-control', rows: 1 %>
              <%#  </div> %>
              
             <div class="form-group">
                <%= f.label :content %><br>
                <%= f.text_area :content, cols: 80, rows: 10 %>
             </div>
            <div id="preview"><%= qiita_markdown(@article.content) %></div>
                <button id="article_content_preview" type="button">Preview</button>
                 
                <%#<div class="form-group">
                  <%#= f.label :content, '本文', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%#= f.input :content, as: :pagedown, input_html: { preview: true, rows: 20 } %>
                  
                  <%#= f.text_area :content , class: 'form-control', rows: 20 %>
             <%# </div>%>
                
                 

              
              
              
            
              <div class="form-group">
                    <%= f.label :movie, '動画', class: "col-md-1 col-sm-1 col-xs-12" %>
                    <%= f.file_field :movie, :accept => 'video/*' %>
              </div>
          　　　
          　　<div class="form-group">
                  <%= f.label :bibilography, '参考文献', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%= f.text_area :bibilography, class: 'form-control' %>
              </div>
                 
                 <%= f.submit '投稿' %>
            <% end %>
            
                <%= link_to '一覧に戻る',root_path %>
        </div>
        </div>
      </div> 
   </div>
</div>

