<div class="container">  
  <div class= "row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="page-header">新規記事作成</h1>
          <p>参考文献は必須です.</p>
          
            <%#= simple_form_for(@article, html:{class: 'form-horizontal'}) do |f| %>
            <%= form_for(@article) do |f| %>
            
              <%= render 'layouts/error_messages', model: f.object %>
    
              <div class="form-group">
                  <%= f.label :title, 'タイトル', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%= f.text_area :title, class: "form-control" %>
              </div>
        
         
            <div class="form-group">
                <%= f.label :keyword, 'キーワード', class: "col-md-4 col-sm-4 col-xs-12" %>
                <%#= f.label :keyword, 'キーワード'  %>
                <%= f.text_field :keyword, class: "form-control",:placeholder => "複数入力可　例）心理学　パーソナリティ" %>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                   <div class="form-group">
                        <%= f.label :category_id, 'カテゴリー', class: "col-md-2 col-sm-2 col-xs-12" %>
                        <%= f.collection_select :category_id, Category.all, :id, :category_name, :prompt => true %>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6"> 
                  <div class="form-group">
                        <%= f.label :eyecatch, '画像'%>
                        <%= f.file_field :eyecatch %>
                        <%= f.hidden_field :eyecatch_cache %>
                  </div>
                </div> 
            </div>    
             <%= link_to '見出し等の見やすい記事作成方法はこちら', 'https://qiita.com/kamorits/items/6f342da395ad57468ae3',target: "_new" %>
                    
            
              <%#  <div class="form-group">
                    <%= f.label :slideshare_embed, 'シェアスライドembedコード', class: "col-md-4 col-sm-1 col-xs-12" %>
              <%#      <%= f.text_area :slideshare_embed, class: 'form-control', rows: 1 %>
              <%#  </div> %>
            <div class="row">
                <div class="col-sm-7 col-md-7 col-lg-7">
                   <div class="form-group">
                      <%= f.label :content, '本文' %><br>
                      <%= f.text_area :content, class: "form-control",cols: 80, rows: 10 %>
                   </div>
                </div> 
              
                <div class="col-sm-5 col-md-5 col-lg-5">  
                    <button id="article_content_preview" type="button">Preview</button>
                      <div id="preview" class="panel-body"><%= qiita_markdown(@article.content) %></div>
                </div> 
            </div>  
                <%#<div class="form-group">
                  <%#= f.label :content, '本文', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%#= f.input :content, as: :pagedown, input_html: { preview: true, rows: 20 } %>
                  
                  <%#= f.text_area :content , class: 'form-control', rows: 20 %>
             <%# </div>%>
              <div class="form-group">
                    <%= f.label :movie, '動画', class: "col-md-1 col-sm-1 col-xs-12" %>
                    <%= f.file_field :movie, :accept => 'video/*' %>
              </div>
          　　　
          　　<div class="form-group">
                  <%= f.label :bibilography, '参考文献', class: "col-md-1 col-sm-1 col-xs-12" %>
                  <%= f.text_area :bibilography, class: 'form-control' %>
              </div>
                 
                 <%= f.submit '投稿' %>
            <% end %>
            
                <%= link_to '一覧に戻る',root_path %>
        </div>
        </div>
      </div> 
   </div>
</div>

