<div class="container">
 
    <h1> <%= @article.title %></h1>
  
    <div>
       <label class="control-label">内容</label>
       <%= @article.content %>
    </div>
    <div>
       <label class="control-label">シェアスライド</label>
       <%= @article.slideshare_embed %>
    </div>
    
    <div>
       <label class="control-label">参考文献</label>
       <%= @article.bibilography %>
    </div>
    
    <%= link_to 'MY pageに戻る', user_path(current_user) %>
    <%= link_to 'この記事を編集する', edit_article_path(@article) %>
    <%= link_to 'この記事を削除する', @article, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
</div>