<div class="row">
 <div class="panel panel-default">
    <div class="panel-heading">
       <h2 class="panel-title"><%= @user.name %>さんのプロフィール</h2>
    </div>
    
    <div class="panel-body">
      <div><%= link_to '新規記事の作成', new_article_path %></div>
      <ul>
        <li><label class="control-label">所属: <%= @user.belonging %></label></li>
        <li><label class="control-label">専門: <%= @user.major %></label></li>
        <li><label class="control-label">所属: <%= @user.publication %></label></li>
          <li><label class="control-label">記事一覧:<%= render 'articles/articles', articles: @articles %>
          　
          </li>
    
      </ul>
    </div>
    
  </div>
      
</div>
 
