<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>あなただけのオリジナル大学を作ろう！</h1>
      </div>
    </div>
  </div>
<% end %>
<div class="container"> 
  
    
   <div class="panel panel-default"> 
    <span>  <h2><%= link_to '人気記事一覧', rankings_like_path %></h2>  </span>
      <%= render 'toppages/toppagelike', articles: @ranking_articles %>
       <%= paginate @ranking_articles %>
    <spam> <h2><%= link_to '新着記事一覧', toppages_newarrival_path %></h2> </spam>   
        <%= render 'toppages/newarrival', articles: @newarrivals %>
       <%= paginate @newarrivals %>
    </div> 
</div>    
<%# </div> %>
    <%#= render 'rankings/like', articles: @articles %>
    
    
    


    <%#= render 'articles/index', articles: @items %>
  
