<div class="container">
  <div class="panel panel-default">
     <div class="panel-heading">
         <span> <h2><% @keyword %>の検索結果</h2> </span>
      </div> 
         <div class="panel-body">
          <div class="row">
            <% @articles.each do |article| %>
              <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading text-center">
                        <%= image_tag(article.eyecatch,:size => "120x120",:class => "border-radius") %>
                      </div>
                      <div class="panel-body">
                         <p class="article-title"><%= link_to article.title, article %></p>
                        <%#<div class="buttons text-right">%>
                          <ul class="sns-share-buttons">
                           
                              <% if logged_in? %>
                              <li>  <%= render 'ownerships/like_button', article: article %></li>
                              <% end %>
                               
                           </ul>
                        <%#</div>%>
                      </div>
                      <%#<div class="panel-footer">%>
                       
                      <%#</div>%>
                    </div>
                  </div>
                <%#</div>%>
              <% end %>
          </div>
        <% end %>
          <%#= paginate @like_articles %>
        </div> 
    </div>    
  </div>









<div class="container">
    <div class="content">
      
        <% @articles.each do |article| %>
              <div class="column">
                <div class="panel-heading text-center">
                  <%= image_tag(article.eyecatch,:size => "120x120",:class => "border-radius") %>
                </div>
                  <div class="panel-body">
                   <p class="article-title"><%= link_to article.title, article %></p>
                  </div>
              </div>
           
        <% end %>
      </div>
            <% end %>
                  
         </div>
    </div> 
</div>